version: '3'
services:
  plants-manager:
    image: plants_manager:latest
    container_name: plants-manager
    environment:
      MONGODB_HOSTNAME: mongodb
      MONGODB_USERNAME: root
      MONGODB_PASSWORD: rootpassword
      MONGODB_DATABASE: plantsdb
      COLLECTION_NAME: plants
    depends_on:
      - mongodb
    networks:
      - backend
  mongodb:
    image: mongo:4.0.8
    container_name: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
      MONGO_INITDB_DATABASE: plantsdb
    networks:
      - backend
    volumes:
      - mongovolume:/data/db

networks:
  backend:
    driver: bridge

volumes:
  mongovolume: